<ion-content class="intro-slides">
  <div class="ads-swiper swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let ad of slides">
        <ion-card class="ad-card">
          <img [src]="ad.image" alt="Ad" />
          <ion-card-header>
            <ion-card-title>{{ ad.title }}</ion-card-title>
            <ion-card-subtitle>{{ ad.subtitle }}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </div>
    </div>
  </div>

  <div class="button-container">
    <ion-button expand="block" routerLink="/login">Get Start</ion-button>
  </div>
</ion-content>