<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>All recharge</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h3>All recharge</h3>
  <ion-card *ngFor="let recharge of mobilerechargeDatas">
    <ion-card-header>
      <ion-card-title>
        {{ recharge.mobile }}
      </ion-card-title>
      <ion-card-subtitle class="subtitle-row">
        <span>{{ recharge.recharge_time | date: 'd MMM yyyy' }}</span>
        <ion-label color="primary" class="amount-label">₹{{ recharge.amount }}</ion-label>
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>

</ion-content>