<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Change Password</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-input labelPlacement="floating" label="Old Password" [(ngModel)]="formData.old_password" fill="outline"
              type="password">
            </ion-input>
            <ion-note color="danger" *ngIf="errors.old_password">{{ errors.old_password }}</ion-note>
          </ion-col>

          <ion-col size="12">
            <ion-input labelPlacement="floating" label="New Password" [(ngModel)]="formData.new_password" fill="outline"
              type="password">
            </ion-input>
            <ion-note color="danger" *ngIf="errors.new_password">{{ errors.new_password }}</ion-note>
          </ion-col>

          <ion-col size="12">
            <ion-input labelPlacement="floating" label="Confirm Password" [(ngModel)]="formData.confirm_password"
              fill="outline" type="password">
            </ion-input>
            <ion-note color="danger" *ngIf="errors.confirm_password">{{ errors.confirm_password }}</ion-note>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-button (click)="changePassword()" expand="block" class="ion-margin-top">
              Submit
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>