<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>States</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-input class="ion-margin-top" fill="outline" placeholder="Search state" [(ngModel)]="searchText"
    (ionInput)="filterStates()">
  </ion-input>
  <ion-list *ngIf="filteredStates.length > 0">
    <ion-item button detail="false" *ngFor="let state of filteredStates" (click)="selectState(state)">
      <ion-label>
        <p>{{ state.state_name }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-text color="medium" *ngIf="filteredStates.length === 0 && searchText">
    <p>No states found for "{{ searchText }}"</p>
  </ion-text>

</ion-content>