<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Plans</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" #content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{formData.mobile}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-item>
              <ion-input type="number" [(ngModel)]="formData.amount" name="mobile" placeholder="Enter Amount"
                (ionInput)="validateAmount()"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-button style="margin-top: 15px;" size="small" (click)="goToSummary()"
              *ngIf="formData.amount && formData.amount > 0">
              Next
            </ion-button>

          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <div class="plan-swiper swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let type of plantypes">
        <ion-chip [outline]="selectedPlanTypeId !== type.id" color="primary"
          (click)="onPlanTypeChange({ detail: { value: type.id } })"
          [class.selected-chip]="selectedPlanTypeId === type.id">
          {{ type.plan_type_name }}
        </ion-chip>
      </div>
    </div>
  </div>



  <!-- Plans List -->
  <ion-card *ngFor="let plan of plans; let i = index" class="plan-card">
    <ion-card-header>
      <ion-card-title>{{ plan.plan_name }}</ion-card-title>
      <ion-card-subtitle>
        <div style="display: flex; justify-content: space-between; align-items: center;">
          <span>Validity {{ plan.validity }} day's</span>
          <ion-button (click)="selectAndGo(plan)" fill="solid" size="small" color="secondary">
            ₹{{ plan.price }}
          </ion-button>
        </div>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>
        {{ showFull[i] ? plan.details : (plan.details | slice:0:100) + (plan.details?.length > 100 ? '...' : '') }}
      </p>
      <div style="text-align: right;">
        <ion-button fill="clear" size="small" (click)="toggleShow(i)">
          {{ showFull[i] ? 'Show Less' : 'Show More' }}
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>