<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="!showOtpInput">
    <ion-card-header>
      <ion-card-title>
        Verify Your Account
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div>
        <ion-col size="12">
          <ion-input type="tel" pattern="[0-9]*" inputmode="numeric" minlength="10" maxlength="10"
            labelPlacement="floating" label="Enter register mobile no" [(ngModel)]="formData.mobile" fill="outline"
            (ionChange)="sanitizeMobile($event)">
          </ion-input>
        </ion-col>
        <ion-button expand="block" (click)="submit()">Submit</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="showOtpInput">
    <ion-card-header>
      <ion-card-title>
        <h2 class="ion-text-center ion-margin-bottom" style="font-size: 2rem;">Verify Your Account</h2>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-input-otp [length]="4" [(ngModel)]="otpCode"></ion-input-otp>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="ion-text-center ion-margin-top">
            <p class="ion-text-center ion-margin-top">
              OTP sent to {{ formData.mobile }}. Please enter the OTP {{otpData.otp}}.
            </p>
            <p class="ion-text-center ion-margin-top">
              OTP expires in: {{ otpTimer }} seconds
            </p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-button (click)="verifyOtp()" expand="block" class="ion-margin-top">Verify OTP</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>