<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>wallet-recharge-form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Wallet Recharge Form
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input label="Enter amount to recharge wallet" labelPlacement="floating"></ion-input>
      </ion-item>
    </ion-card-content>
    <ion-button expand="block" color="primary">
      Proceed To Payment
    </ion-button>
  </ion-card>
</ion-content>