<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Transaction History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card *ngFor="let transaction of transactions">
    <ion-card-header>
      <ion-card-title>
        Date: {{ transaction.recharge_time | date: 'medium' }}
      </ion-card-title>
      <ion-card-subtitle>
        <p><strong>Order ID:</strong> {{ transaction.order_id }}</p>
        <p><strong>Mobile:</strong> {{ transaction.mobile }}</p>
        <p><strong>Payment Gateway:</strong> {{ transaction.pg_type || 'N/A' }}</p>
        <p><strong>Amount:</strong> ₹{{ transaction.amount }}</p>
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content routerLink="/transaction-details/{{transaction.id}}">
      <ion-item lines="none">
        <ion-label></ion-label>
        <ion-badge [color]="
          (transaction.status | lowercase) === 'success' ? 'success' :
          (transaction.status | lowercase) === 'failure' ? 'danger' : 'medium'
        ">
          {{ transaction.status }}
        </ion-badge>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>