<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div style="text-align: center;">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-item lines="none" style="margin: 0; font-size: 1rem; color: #2a9d8f;">Balance</ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-item lines="none" style="margin: 0; color: #2a9d8f;">₹1233.00</ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="3" class="ion-text-center">
        <ion-icon name="phone-portrait-outline" size="large"></ion-icon>
        <div>Mobile Recharge</div>
      </ion-col>
      <ion-col size="3" class="ion-text-center">
        <ion-icon name="flash-outline" size="large"></ion-icon>
        <div>Electricity Bill</div>
      </ion-col>
      <ion-col size="3" class="ion-text-center">
        <ion-icon name="pricetag-outline" size="large"></ion-icon>
        <div>Coupon</div>
      </ion-col>
      <ion-col size="3" class="ion-text-center">
        <ion-icon name="swap-horizontal-outline" size="large"></ion-icon>
        <div>Transfer</div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Previous Recharge -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Previous Recharge <ion-note slot="end" color="primary">view</ion-note></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-label>
            <div>7004515665</div>
            <small>12 July 25</small>
          </ion-label>
          <ion-note color="primary">₹299</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>
            <div>7004515665</div>
            <small>10 July 25</small>
          </ion-label>
          <ion-note color="primary">₹299</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>
            <div>9472766686</div>
            <small>18 July 25</small>
          </ion-label>
          <ion-note color="primary">₹149</ion-note>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- Previous Electricity Bill -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Previous Electricity Bill <ion-note slot="end" color="primary">view</ion-note></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-label>
            <div>476682722</div>
            <small>12 June 25</small>
          </ion-label>
          <ion-note color="primary">₹500</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>
            <div>476682722</div>
            <small>12 June 25</small>
          </ion-label>
          <ion-note color="primary">₹721</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>
            <div>476682722</div>
            <small>12 June 25</small>
          </ion-label>
          <ion-note color="primary">₹12000</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>
            <div>476682722</div>
            <small>12 June 25</small>
          </ion-label>
          <ion-note color="primary">₹1300</ion-note>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>