<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cities</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-input class="ion-margin-top" fill="outline" placeholder="Search city" [(ngModel)]="searchText"
    (ionInput)="filterCities()">
  </ion-input>
  <ion-list *ngIf="filteredCities.length > 0">
    <ion-item button detail="false" *ngFor="let city of filteredCities" (click)="selectCity(city)">
      <ion-label>
        <p>{{ city.city }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-text color="medium" *ngIf="filteredCities.length === 0 && searchText">
    <p>No city found for "{{ searchText }}"</p>
  </ion-text>
</ion-content>