<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mobile Recharge</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Mobile Recharge</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form #mobileRecharge="ngForm" (ngSubmit)="submitSection()">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-item>
                <ion-input [value]="formData.mobile" (ionInput)="validateMobile($event)" type="text" maxlength="10"
                  placeholder="Enter 10-digit mobile number" required></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="12">
              <ion-item class="custom-select">
                <ion-select [(ngModel)]="formData.operator" name="operator" interface="popover"
                  placeholder="Select your operator" required>
                  <ion-select-option *ngFor="let operator of operators" [value]="operator.operator_code">
                    {{ operator.operator_name }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>

            <ion-col size="12">
              <ion-item button (click)="StateList()">
                <ion-input placeholder="Select circle" [(ngModel)]="formData.circle" name="circle">
                </ion-input>
              </ion-item>
            </ion-col>

            <ion-col size="12">
              <ion-button expand="block" type="submit" [disabled]="!mobileRecharge.form.valid">Next</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>