<ion-menu menuId="main-menu" contentId="main-content" side="start">
  <ion-header class="custom-header">
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>

      <ion-item (click)="navigateAndCloseMenu('/home')">
        <ion-icon slot="start" name="home-outline"></ion-icon>
        Dashboard
      </ion-item>

      <ion-accordion-group>
        <ion-accordion value="first">
          <ion-item slot="header">
            <ion-icon slot="start" name="receipt-outline"></ion-icon>
            <ion-label>Order History</ion-label>
          </ion-item>

          <ion-item slot="content">
            <ion-icon slot="start" name="phone-portrait-outline"></ion-icon>
            <ion-label>Recharge</ion-label>
          </ion-item>

          <ion-item slot="content">
            <ion-icon slot="start" name="flash-outline"></ion-icon>
            <ion-label>Electricity Bill Payment</ion-label>
          </ion-item>
        </ion-accordion>
      </ion-accordion-group>

      <ion-item (click)="navigateAndCloseMenu('/favorites')">
        <ion-icon slot="start" name="heart-outline"></ion-icon>
        Favorites
      </ion-item>

      <ion-item (click)="navigateAndCloseMenu('/change-password')">
        <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
        Change Password
      </ion-item>

      <ion-item (click)="navigateAndCloseMenu('/personal-info')">
        <ion-icon slot="start" name="person-outline"></ion-icon>
        Personal Information
      </ion-item>

      <ion-item (click)="logout()">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        Logout
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>